/*CSS document*/
body {
padding: 1em;
}
    div.container {
    max-width: 65em;
    margin: auto;
    margin-top: 2em;
    }
    section{
    margin: 0 auto 3em;
    }
    figure {
    margin: 0;
    
    }
    img {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
    }
    
    ul {
    list-style-type: none;
    padding: 0;
    }
    nav ul li{
    display: inline;
    list-style-type: none;
    margin-top: 0em;
    margin-right: 1em;
    font-family: Impact;
    font-weight: bold;
    font-size: 1.8em;
    letter-spacing: 0.06em;
    }
    nav ul li a{
    color: #222222;
    text-decoration: none;
    }
    Main{
    font-family: Georgia;
    }
    h3{
    color: rgb(224, 137, 43);
    text-decoration: none;
    font-family: Impact;
    letter-spacing: 0.06em;
    margin-bottom: 0.3em;
    }
    h2{
    color: rgb(224, 137, 43);
    text-decoration: none;
    font-family: Impact;    
    letter-spacing: 0.05em;
    margin-bottom: 0.2em;
    }
    p{
    color: rgb(42, 43, 42);
    text-decoration: none;
    font-family: garamond;
    margin-top: 0em;

    }
    h1{
    width: 9em;
    }
    a{
    text-decoration: none;
    color:#222;
    }
    figure.gallery {
        margin: 0em 0em 1em 0em;
        width: calc(100%-2em);
        position: absolute;
        opacity: 0;
        transition: opacity 0.5s;
    }
    article.gallery input{
        display: none;
    }

    article.gallery {
        display: block;;
    }

    nav.gallery{
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-gap: 0.2em;
    }
    
    main.gallery{
        position: relative;
        overflow: #ddd;
        padding-bottom: calc(62% + .1em);
        margin-right: 0em;
    }
    
    @media screen and (min-width: 60em){
    div.container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 2em;
    }

    main.gallery, nav.gallery {
        grid-column: 1/3;
    }
    header{
    grid-column: 1/3;
    margin-bottom: 0.5em;
    }
    main{
    grid-column: 1/2;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1em;
    margin: 0em 1.5em 3em 0em;
    }
    section.mainstory{
    grid-column: 1/4;
    }
    section.mainstory figure{
    flex: 1 0 18em;
    display: flex;
    flex-direction:column;
    margin: 0;
    }
    section.mainstory figure div {
    flex: 1 0 18em;
    background-image: url(firstphoto.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    }  
    section.mainstory figure div img{
    height: 100%;
    opacity: 0;
    }
    section.mainstory figure figcaption{
    flex: 0 0 3em;
    }
    section.mainstory h3{
    flex:0 0 auto;
    margin: 0;
    }
    section.mainstory p{
    flex: 0 0 auto;
    margin: 0;
    }
    aside{
    grid-column: 2/3;
    }
    h3.aside{
        margin-bottom: 0em;
    }

    footer{
        grid-column: 1/3;
    }
    section.secondary{
        padding-top: 0;
        margin-top: 0;
    }
    section.tertiary{
        margin-bottom: 2em;
    }
    figcaption{
        font-style: italic;
        font-size: smaller;
    }
    }

input:nth-of-type(1):checked ~ main figure:nth-of-type(1),
input:nth-of-type(2):checked ~ main figure:nth-of-type(2),
input:nth-of-type(3):checked ~ main figure:nth-of-type(3),
input:nth-of-type(4):checked ~ main figure:nth-of-type(4),
input:nth-of-type(5):checked ~ main figure:nth-of-type(5),
input:nth-of-type(6):checked ~ main figure:nth-of-type(6),
input:nth-of-type(7):checked ~ main figure:nth-of-type(7),
input:nth-of-type(8):checked ~ main figure:nth-of-type(8){
    opacity: 1;
}
button {
    border-radius: 4px;
    background-color: rgb(224, 137, 43);
    border: none;
    color: #FFFFFF;
    text-align: left;
    font-size: 15px;
    font-family: urw-form, Georgia;
    padding: 1.5em;
  margin-top: 1.5em;
  }
section.personal-form ul li{
flex-wrap: wrap;
margin-bottom: 1em;
}
section.personal-form ul li input[type="text"],
section ul li input[type="email"],
section ul li select {
	flex-grow: 1; 
	box-sizing: border-box;
    border: 1px solid black;;
}

section.personal-form ul li label {
	flex: 1 0 15em;
}

  section.form {
    margin: 0em 0em 2em 0em;
      padding: inherit;
  }
  
  section.order-form{
      padding: inherit;
  }
  
  main.subscription {
    grid:none;
  }
  label {
    flex: 1 0 10em;
  font-family: urw-form, Georgia;
    font-weight: 200;
  font-style: normal; 
  }
  input[type="checkbox"] {
      display: inline-block;
  }
  
  input[type="radio"] {
      display: none;
  }
  
  h2, h3.subscription{
      text-transform:inherit;
      color:rgb(42, 43, 42);
      letter-spacing: 0.1em;
  }


  